---
layout: default
title: UI Kit - Fonts
slug: uikit
path: ../
---
<link href='https://fonts.googleapis.com/css?family=Amiri|Headland+One|Martel:300|Noto+Serif|Noto+Serif+JP|Radley' rel='stylesheet' type='text/css'>

<br>
{% include sample-font.html headline-font="Noto Serif JP" header-font-style="" body-font="arial" %}
{% include sample-font.html headline-font="Martel" header-font-style="" body-font="arial" %}
{% include sample-font.html headline-font="Noto Serif" header-font-style="" body-font="arial" %}
{% include sample-font.html headline-font="Amiri" header-font-style="" body-font="arial" %}
{% include sample-font.html headline-font="Radley" header-font-style="" body-font="arial" %}
{% include sample-font.html headline-font="Headland One" header-font-style="" body-font="arial" %}


<style>
.sample-font {
  padding: 30px;
  border-top: 1px solid #ccc;
}
h1 {
	margin-bottom: 8px;
}
p {
	max-width: 650px;
	line-height: 1.3em;
}
</style>